#!/usr/bin/make -f

MAKEFILE = $(firstword $(MAKEFILE_LIST))
DEBIAN_DIR = $(shell realpath $(dir $(MAKEFILE)))

DEB_HOST_ARCH_BITS  := $(shell dpkg-architecture -qDEB_HOST_ARCH_BITS)

ifeq ($(DEB_HOST_ARCH_BITS), 32)
        LINUX32 := linux32
else
        LINUX32 := 
endif

# This has to be exported to make some magic below work.
export DH_OPTIONS

override_dh_fixperms:
	dh_fixperms
	# Fix permissions of non-executable cruft
	find debian -iname \*.xml -type f -exec chmod 644 {} +
	find debian -iname \*.sigdata -type f -exec chmod 644 {} +
	find debian -iname \*.optdata -type f -exec chmod 644 {} +
	find debian -iname \*.targets -type f -exec chmod 644 {} +

override_dh_auto_clean:
	# don't clean - broken on newer distros as make distclean can't run before configure
	true

override_dh_auto_build:
	HOME=$(DEBIAN_DIR) XDG_CONFIG_HOME=$(DEBIAN_DIR) version= $(LINUX32) ./build.sh -c Release && version= $(LINUX32) ./.dotnet/dotnet restore setup/Swix/Microsoft.FSharp.SDK/Microsoft.FSharp.SDK.csproj --packages fsharp-nugets
	mkdir -p $(DEBIAN_DIR)/tmpprefix/
	sed -e 's#%EXENAME%#fsc.exe#' $(DEBIAN_DIR)/wrapper.sh > $(DEBIAN_DIR)/tmpprefix/fsharpc
	sed -e 's#%EXENAME%#fsi.exe#' $(DEBIAN_DIR)/wrapper.sh > $(DEBIAN_DIR)/tmpprefix/fsharpi
	sed -e 's#%EXENAME%#fsiAnyCpu.exe#' $(DEBIAN_DIR)/wrapper.sh > $(DEBIAN_DIR)/tmpprefix/fsharpiAnyCpu
	#xbuild FsLex/FsLex.fsproj
	#xbuild FsYacc/FsYacc.fsproj
	#xbuild lib/bootstrap/src/FsSrGen/FsSrGen.fsproj
	#xbuild lib/bootstrap/src/FSharp.SRGen.Build.Tasks/FSharp.SRGen.Build.Tasks.fsproj
	#sed -e 's#@DIR@/@TOOL@#/usr/lib/cli/fsharp/FsLex.exe#' -e 's/--exename:$$(basename $$0) //' launcher.in > lib/release/fslex
	#sed -e 's#@DIR@/@TOOL@#/usr/lib/cli/fsharp/FsYacc.exe#' -e 's/--exename:$$(basename $$0) //' launcher.in > lib/release/fsyacc
	#sed -e 's#@DIR@/@TOOL@#/usr/lib/cli/fsharp/FsSrGen.exe#' -e 's/--exename:$$(basename $$0) //' launcher.in > lib/release/fssrgen

override_dh_auto_install:
	mkdir -p debian/fsharp/usr/lib/mono/Microsoft\ F#/v4.0/
	cp debian/Microsoft.*FSharp.Targets debian/fsharp/usr/lib/mono/Microsoft\ F#/v4.0/
	mkdir -p debian/fsharp/usr/lib/mono/Microsoft\ SDKs/F#/3.0/Framework/v4.0/
	cp debian/Microsoft.*FSharp.Targets debian/fsharp/usr/lib/mono/Microsoft\ SDKs/F#/3.0/Framework/v4.0/
	mkdir -p debian/fsharp/usr/lib/mono/Microsoft\ SDKs/F#/3.1/Framework/v4.0/
	cp debian/Microsoft.*FSharp.Targets debian/fsharp/usr/lib/mono/Microsoft\ SDKs/F#/3.1/Framework/v4.0/
	mkdir -p debian/fsharp/usr/lib/mono/Microsoft\ SDKs/F#/4.0/Framework/v4.0/
	cp debian/Microsoft.*FSharp.Targets debian/fsharp/usr/lib/mono/Microsoft\ SDKs/F#/4.0/Framework/v4.0/
	mkdir -p debian/fsharp/usr/lib/mono/Microsoft\ SDKs/F#/4.1/Framework/v4.0/
	cp debian/Microsoft.*FSharp.Targets debian/fsharp/usr/lib/mono/Microsoft\ SDKs/F#/4.1/Framework/v4.0/

override_dh_clideps:
	dh_clideps \
		--exclude-moduleref=api-ms-win-core-file-l1-1-0.dll \
		--exclude-moduleref=clr.dll \
		--exclude-moduleref=crypt32.dll \
		--exclude-moduleref=dbghelp.dll \
		--exclude-moduleref=fusion.dll \
		--exclude-moduleref=Microsoft.VisualStudio.Setup.Configuration.Native.dll \
		--exclude-moduleref=mscoree.dll \
		--exclude-moduleref=mscorwks.dll \
		--exclude-moduleref=NTDLL.DLL \
		--exclude-moduleref=ole32.dll \
		--exclude-moduleref=Ole32 \
		--exclude-moduleref=rstrtmgr.dll \
		--exclude-moduleref=sfc.dll

override_dh_makeclilibs:
	dh_makeclilibs -V

%:
	dh $@ --with=cli
