#!/usr/bin/make -f

MAKEFILE = $(firstword $(MAKEFILE_LIST))
DEBIAN_DIR = $(shell realpath $(dir $(MAKEFILE)))

DEB_HOST_ARCH_BITS  := $(shell dpkg-architecture -qDEB_HOST_ARCH_BITS)

ifeq ($(DEB_HOST_ARCH_BITS), 32)
        LINUX32 := linux32
else
        LINUX32 := 
endif

# This has to be exported to make some magic below work.
export DH_OPTIONS

override_dh_fixperms:
	dh_fixperms
	# Fix permissions of non-executable cruft
	find debian -iname *.xml -type f -exec chmod 644 {} +
	find debian -iname *.sigdata -type f -exec chmod 644 {} +
	find debian -iname *.optdata -type f -exec chmod 644 {} +
	find debian -iname *.targets -type f -exec chmod 644 {} +

override_dh_auto_clean:
	# don't clean - broken on newer distros as make distclean can't run before configure
	true

override_dh_auto_build:
	HOME=$(DEBIAN_DIR) XDG_CONFIG_HOME=$(DEBIAN_DIR) version= $(LINUX32) ./build.sh -c Release && version= $(LINUX32) ./.dotnet/dotnet restore setup/Swix/Microsoft.FSharp.SDK/Microsoft.FSharp.SDK.csproj --packages fsharp-nugets
	#xbuild FsLex/FsLex.fsproj
	#xbuild FsYacc/FsYacc.fsproj
	#xbuild lib/bootstrap/src/FsSrGen/FsSrGen.fsproj
	#xbuild lib/bootstrap/src/FSharp.SRGen.Build.Tasks/FSharp.SRGen.Build.Tasks.fsproj
	#sed -e 's#@DIR@/@TOOL@#/usr/lib/cli/fsharp/FsLex.exe#' -e 's/--exename:$$(basename $$0) //' launcher.in > lib/release/fslex
	#sed -e 's#@DIR@/@TOOL@#/usr/lib/cli/fsharp/FsYacc.exe#' -e 's/--exename:$$(basename $$0) //' launcher.in > lib/release/fsyacc
	#sed -e 's#@DIR@/@TOOL@#/usr/lib/cli/fsharp/FsSrGen.exe#' -e 's/--exename:$$(basename $$0) //' launcher.in > lib/release/fssrgen

override_dh_auto_install:
	HOME=$(DEBIAN_DIR) XDG_CONFIG_HOME=$(DEBIAN_DIR) DESTDIR=`realpath $(DEBIAN_DIR)/tmp` PREFIX=/usr make install

override_dh_clideps:
	dh_clideps --exclude-moduleref=mscoree.dll --exclude-moduleref=api-ms-win-core-file-l1-1-0.dll

override_dh_makeclilibs:
	dh_makeclilibs -V

%:
	dh $@ --with=cli
